.chatBox__container {
	width: 100%;
	min-height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

.chatBoxMain {
	margin-left: 18vw;
	display: flex;
}

.chatBoxMiddle {
	width: 64vw;
	padding: 2em;
}

.chatBoxRight {
	min-width: 18vw;
	max-width: 18vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgb(204, 230, 240);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 3px;
}

.chatBox {
	display: flex;
	flex-direction: column;
	background: white;
	min-height: 90vh;
	max-height: 90vh;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	overflow: hidden;
}

.chatHead {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, #a1b7ff, #b38be4);
	width: 100%;
	font-family: cursive;
	font-weight: 500;
	color: rgb(0, 0, 0);
}

.backButton {
	margin-right: auto;
	margin-left: 20px;
	padding: 5px 10px;
	border-radius: 5px;
	background: rgb(1, 120, 136);
	color: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.chatHead > p {
	width: 100%;
	padding-right: 20px;
}

.chatBody {
	margin: 10px 0px;
	max-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.messages {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 5px;
}

.messages > div {
	color: gray;
	font-size: 11px;
	padding-left: 3px;
}

.myName {
	display: none;
}

.otherName {
	margin-left: 15px;
}

.myMessage {
	color: white;
	background: rgb(0, 174, 255);
	margin-left: auto;
	margin-right: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 8px 15px;
}

.OtherMessage {
	color: black;
	max-width: 80%;
	margin-left: 15px;
	text-align: left;
	background: rgb(231, 231, 231);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 8px 15px;
}

.chatInput {
	display: flex;
	align-items: flex-start;
	margin-top: auto;
	margin-bottom: 30px;
	padding-top: 20px;
	width: 100%;
	border-top: 1px solid rgb(199, 199, 199);
}

.chatInput > input {
	margin-left: 20px;
	width: 80%;
	font-size: 16px;
	padding: 10px;
	border: none;
	border-bottom: 1px solid rgb(170, 170, 170);
}

.chatInput > input:focus {
	outline: none;
	background: #f6f8ff;
	border-radius: 6px;
}

.chatInput > button {
	margin-left: auto;
	padding: 10px 20px;
	margin-right: 20px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	color: white;
	background: linear-gradient(135deg, #6e8efb, #a777e3);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.chatInput > button:hover {
	background: #6000d6;
}

.chatInput > button > i {
	margin-right: 10px;
}

.chatBoxImgContainer {
	padding-top: 30px;
}

.chatBoxImg {
	object-fit: cover;
	height: 200px;
	width: 90%;
	border-radius: 10px;
}

.chatBoxDesc {
	color: rgb(83, 83, 83);
	text-align: justify;
	margin: 20px 30px;
	font-size: 14px;
	line-height: 24px;
	max-height: 360px;
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	-webkit-line-clamp: 15;
	-webkit-box-orient: vertical;
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chatBoxAdmin {
	background: rgb(225, 193, 255);
	color: #6000d6;
	border-radius: 10px;
	font-weight: 600;
	padding: 20px 20px;
	overflow: hidden;
	max-width: 90%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 3px;
}
