.createChatContainer {
	width: 100%;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.createChatGoBack {
	width: 7em;
	border: none;
	border-radius: 5px;
	padding: 0.5em;
	text-align: center;
	font-weight: 600;
	font-size: 13px;
	cursor: pointer;
	color: rgb(32, 136, 255);
	margin-bottom: 20px;
	background: linear-gradient(
			to left,
			rgb(206, 227, 255) 50%,
			rgb(153, 0, 255) 50%
		)
		right;
	background-size: 200%;
	transition: 350ms ease-out;
}

.createChatGoBack:hover {
	background-position: left;
	color: white;
}

.createChat {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	width: 75vw;
	max-width: 350px;
	background: white;
	margin-left: 18vw;
}

.createChat > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.createChat > h3 {
	color: rgb(39, 39, 39);
	font-family: cursive;
	padding-bottom: 10px;
}

.createChat > div > textarea,
.createChat > div > input {
	margin: 10px 0;
	font-size: 1em;
	font-family: inherit;
	padding: 10px;
	width: 80%;
	border: none;
	background: rgb(238, 238, 238);
	border-radius: 10px;
	outline: none;
	transition: background 250ms ease-in;
}

.createChat > div > textarea:focus,
.createChat > div > input:focus {
	background: rgb(203, 239, 255);
}

.createChat > div > textarea {
	min-height: 100px;
	margin-bottom: 20px;
}

.createChat__button {
	margin-bottom: 20px;
	padding: 10px;
	width: 10em;
	border: 1px solid rgb(0, 140, 255);
	border-radius: 50px;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	color: rgb(0, 140, 255);
	background: linear-gradient(
			to left,
			rgb(251, 251, 252) 50%,
			rgb(153, 0, 255) 50%
		)
		right;
	background-size: 200%;
	transition: 350ms ease-out;
}

.createChat__button:hover {
	background-position: left;
	color: white;
}

@media only screen and (max-width: 1100px) {
	.createChat {
		max-width: 82vw;
	}
}
