.header {
	min-height: 100vh;
	max-width: 20vw;
	width: 18vw;
	display: flex;
	flex-direction: column;
	background: rgb(204, 230, 240);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 3px;
	position: fixed;
	overflow: hidden;
}

.headerLeft {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 20px 0 20px 20px;
}

.headerLeft > p {
	font-size: 24px;
	font-family: cursive;
	font-weight: 500;
	color: rgb(0, 158, 185);
}

.headerLeft > img {
	object-fit: contain;
	height: 50px;
	width: 50px;
	padding-right: 10px;
	padding-left: 10px;
}

.headerNavItems {
	cursor: pointer;
	display: flex;
	align-items: center;
	text-align: left;
	font-size: 20px;
	padding: 10px 0 5px 40px;
	color: rgb(94, 94, 94);
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.headerNavItems > i {
	font-size: 24px;
	padding-right: 10px;
	color: rgb(75, 75, 75);
}

.headerNavItems:hover {
	color: rgb(0, 80, 184);
	background: lightblue;
}
